<%= form_for listing do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :number_of_room %>
    <%= form.text_field :number_of_room %>
  </div>

  <div>
    <%= form.label :kitchen %>
    <%= form.check_box :kitchen, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :internet %>
    <%= form.check_box :internet, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :tv %>
    <%= form.check_box :tv, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :essentials %>
    <%= form.check_box :essentials, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :shampoo %>
    <%= form.check_box :shampoo, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :dryer %>
    <%= form.check_box :dryer, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :heating %>
    <%= form.check_box :heating, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :conditioning %>
    <%= form.check_box :conditioning, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :washer  %>
    <%= form.check_box :washer, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :indoor_fireplace %>
    <%= form.check_box :indoor_fireplace, {}, "true", "false" %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :image_url, "photo" %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
