<h1><%= @listing.name %></h1>

<% if current_user == @listing.user %>
  <%= link_to "Edit", edit_listing_path(@listing) %>
  <%= link_to "Delete", listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div class="listing-params">
  <div class="listing-photo">
    <%= image_tag @listing.image_url, width:400 %>
  </div>

  <div class="description">
    <p>Description: <%= @listing.description %></p>
  </div>

  <div class="number-of-rooms">
    <p>Number of room: <%= @listing.number_of_room %></p>
  </div>

  <div class="amenities">
    <ul>Amenities
      <li>Kitchen: <%= @listing.kitchen %></li>
    </ul>
  </div>

  <div class="price">
    <p>price: <%= @listing.price %></p>
  </div>
</div>

<div class="owner-params">
  <h3>User: <%= @listing.user.name %></h3>
  <%= link_to (image_tag @listing.user.image_url, width: 200), user_path(@listing.user) %>
  <p>Bio: <%= @listing.user.bio %></p>
</div>
