<% if @user.errors.any? %>
<div class="flash error">
  <p>Whoops! We could not create your account due to <%= pluralize(@user.errors.count, "error") %>:</p>
  <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message %>.</li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @user do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :bio %>
    <%= form.text_area :bio %>

    <%= form.label :image_url, "Photo" %>
    <%= form.text_field :image_url %>

    <%= form.submit "Sign Up" %>
    <p>Already a Rentr? <%= link_to "Sign In", new_session_path %></p>
<% end %>
